<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Additif.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87A26BF41CEB2774007C02A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87A26C0A1CEB2774007C02A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87A26C151CEB2774007C02A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
